/* CSS files add styling rules to your content */






/*html {
  font: 5vmin/1.3 Serif;
  overflow: hidden;
  background: #123;
}

body, head {
  display: block;
  font-size: 52px;
  color: transparent;
}

head::before, head::after,
body::before, body::after {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: "V";
  mix-blend-mode: screen;
  animation: 44s -27s move infinite ease-in-out alternate;
}

body::before {
  text-shadow: 1.5894945439em 0.4681296167em 2px rgba(255, 240, 0, 0.9), 0.3082040229em 2.1200485353em 2px rgba(190, 0, 255, 0.9), 1.439020642em 1.4670443957em 2px rgba(148, 255, 0, 0.9), 1.7141120988em 0.5324104471em 2px rgba(255, 0, 229, 0.9), 0.4276969934em 0.1644388486em 2px rgba(193, 255, 0, 0.9), 0.3019230182em 1.8803788662em 2px rgba(0, 255, 177, 0.9), 0.0852041955em 1.0471091667em 2px rgba(209, 0, 255, 0.9), -0.4491784678em 0.1376311775em 2px rgba(255, 0, 207, 0.9), -0.0668737367em 2.4012246328em 2px rgba(0, 27, 255, 0.9), 1.8773307588em 1.1931315613em 2px rgba(0, 255, 111, 0.9), 0.3703638584em -0.2667410693em 2px rgba(62, 255, 0, 0.9), 0.3514440307em -0.2306378791em 2px rgba(0, 255, 71, 0.9), 1.2183897124em 0.8114008705em 2px rgba(255, 0, 148, 0.9), -0.3526610672em 2.0373494148em 2px rgba(0, 112, 255, 0.9), 2.4953943578em 0.4552373503em 2px rgba(0, 224, 255, 0.9), 1.5773467058em 0.6978574949em 2px rgba(255, 4, 0, 0.9), 1.2324802727em 1.7682001556em 2px rgba(251, 255, 0, 0.9), 2.0973543701em 1.4500608379em 2px rgba(56, 0, 255, 0.9), 0.1649922731em -0.1009170952em 2px rgba(255, 0, 10, 0.9), 1.0189769386em 2.4931473145em 2px rgba(255, 0, 41, 0.9), -0.2788253734em 1.0763115025em 2px rgba(163, 255, 0, 0.9), 0.382529009em 0.9142215391em 2px rgba(255, 0, 176, 0.9), -0.3760679399em 1.378343922em 2px rgba(0, 255, 132, 0.9), 0.6409422156em -0.2373848758em 2px rgba(220, 0, 255, 0.9), 1.9734988366em 0.4837864555em 2px rgba(0, 255, 22, 0.9), -0.2573315674em 0.5355193921em 2px rgba(255, 166, 0, 0.9), -0.0269658252em 1.5558093595em 2px rgba(255, 0, 177, 0.9), 2.2166037563em -0.4048859884em 2px rgba(0, 139, 255, 0.9), 0.2702005584em 0.3901284688em 2px rgba(255, 216, 0, 0.9), 2.3708779595em 0.9921767779em 2px rgba(255, 110, 0, 0.9), 1.5443081008em 2.1493842724em 2px rgba(43, 0, 255, 0.9), 0.9356252535em 2.3712114968em 2px rgba(87, 255, 0, 0.9), 0.6881677528em 0.1619173677em 2px rgba(255, 135, 0, 0.9), 2.3459478114em 1.0503595027em 2px rgba(255, 166, 0, 0.9), 0.3844365466em 1.2337948427em 2px rgba(0, 255, 140, 0.9), 1.4743852641em 0.976968311em 2px rgba(74, 255, 0, 0.9), 1.4534287085em 0.11470396em 2px rgba(206, 0, 255, 0.9), 1.2036187911em 1.3705503099em 2px rgba(255, 78, 0, 0.9), -0.310090121em 2.1538537732em 2px rgba(0, 204, 255, 0.9), 1.3903589704em 0.446408323em 2px rgba(188, 255, 0, 0.9), 1.208145126em 1.7134994617em 2px rgba(0, 255, 86, 0.9);
  animation-duration: 44s;
  animation-delay: -27s;
}

body::after {
  text-shadow: -0.3611236805em 2.1134992317em 2px rgba(0, 255, 61, 0.9), 1.1955459345em 0.393538303em 2px rgba(255, 52, 0, 0.9), 0.5416992108em -0.1330790607em 2px rgba(255, 98, 0, 0.9), 2.0515134948em 1.6231656628em 2px rgba(255, 10, 0, 0.9), 1.1721957543em 2.3382572492em 2px rgba(0, 255, 17, 0.9), 0.8408927364em 2.1644255347em 2px rgba(255, 178, 0, 0.9), 1.9331266375em 0.568220688em 2px rgba(255, 0, 117, 0.9), 0.0542983748em 1.6855981857em 2px rgba(0, 255, 115, 0.9), 0.6017772724em 0.5220233375em 2px rgba(0, 255, 120, 0.9), -0.4097503806em 1.5245792em 2px rgba(215, 255, 0, 0.9), 2.3902777739em 0.1642247429em 2px rgba(186, 255, 0, 0.9), 1.959054186em 0.9113979185em 2px rgba(0, 255, 97, 0.9), 1.6175484638em 0.3987598236em 2px rgba(255, 0, 197, 0.9), 0.0295892039em 0.7425943355em 2px rgba(0, 203, 255, 0.9), 0.0332971129em 1.3939024276em 2px rgba(255, 0, 205, 0.9), 0.6785022365em 0.170683682em 2px rgba(236, 0, 255, 0.9), 1.5940647185em -0.2781622006em 2px rgba(255, 0, 78, 0.9), 2.2761374893em -0.4020850346em 2px rgba(255, 0, 129, 0.9), 1.7482363105em 0.6182369146em 2px rgba(255, 220, 0, 0.9), 0.2800855242em 0.6961153751em 2px rgba(0, 172, 255, 0.9), 0.37989317em 0.3090073519em 2px rgba(217, 0, 255, 0.9), 2.2692629356em 2.035168879em 2px rgba(255, 176, 0, 0.9), 0.515634743em 1.7599368848em 2px rgba(107, 255, 0, 0.9), 0.3873432018em 2.3053842443em 2px rgba(0, 47, 255, 0.9), 2.4757816871em 2.3103906003em 2px rgba(0, 255, 126, 0.9), 2.0644512318em 0.9957445176em 2px rgba(0, 255, 10, 0.9), 2.3932015445em 2.116540133em 2px rgba(0, 74, 255, 0.9), -0.3579805013em -0.18066101em 2px rgba(255, 154, 0, 0.9), 0.4577504367em 0.6322495316em 2px rgba(47, 255, 0, 0.9), 0.8871835553em 2.1851694123em 2px rgba(105, 0, 255, 0.9), 2.3388906726em 1.5488879243em 2px rgba(255, 188, 0, 0.9), 0.822155865em -0.2391643012em 2px rgba(0, 255, 17, 0.9), 0.5577881618em 2.4245748463em 2px rgba(255, 0, 235, 0.9), 0.1202740973em 2.3387062974em 2px rgba(0, 255, 24, 0.9), 1.2255945989em 0.3880670693em 2px rgba(155, 0, 255, 0.9), 0.3653806838em 1.9624064109em 2px rgba(0, 62, 255, 0.9), 0.240299452em 1.5654072231em 2px rgba(255, 11, 0, 0.9), 0.4183261388em 1.2721107647em 2px rgba(0, 255, 70, 0.9), 2.0607929855em 0.7595363199em 2px rgba(255, 205, 0, 0.9), 1.1309889881em 1.097593473em 2px rgba(255, 0, 218, 0.9), 1.1596121318em 1.0398693682em 2px rgba(255, 250, 0, 0.9);
  animation-duration: 43s;
  animation-delay: -32s;
}

head::before {
  text-shadow: 1.039269362em 0.8491479642em 2px rgba(0, 255, 71, 0.9), 0.6748592122em 2.4484211192em 2px rgba(9, 255, 0, 0.9), 0.0682061652em 1.3774152836em 2px rgba(26, 0, 255, 0.9), 0.2182741885em 0.8853773701em 2px rgba(255, 163, 0, 0.9), 0.5227993348em 0.5784687028em 2px rgba(255, 161, 0, 0.9), 0.9605480055em 0.2336039591em 2px rgba(255, 7, 0, 0.9), 0.1994367896em -0.3035385016em 2px rgba(0, 255, 222, 0.9), 1.0597767602em 1.2170305596em 2px rgba(255, 252, 0, 0.9), 1.6618264926em 1.4055500715em 2px rgba(74, 255, 0, 0.9), 2.0273548038em 1.7234780082em 2px rgba(255, 89, 0, 0.9), 2.3126749742em 1.2348708215em 2px rgba(0, 255, 200, 0.9), 1.1731113519em 2.118648226em 2px rgba(85, 255, 0, 0.9), 1.3298337519em 0.4028496457em 2px rgba(87, 0, 255, 0.9), 0.2571499487em 1.7438903845em 2px rgba(192, 0, 255, 0.9), 1.1304858902em 0.2355827679em 2px rgba(86, 255, 0, 0.9), 1.9810274852em 0.734493131em 2px rgba(46, 0, 255, 0.9), -0.4857675366em 1.1608854217em 2px rgba(0, 231, 255, 0.9), 1.6433331063em 1.1335209816em 2px rgba(255, 138, 0, 0.9), 0.8988513655em 0.2873299616em 2px rgba(9, 0, 255, 0.9), 0.586040271em 0.3063223497em 2px rgba(0, 216, 255, 0.9), 0.8528074118em 0.6948577985em 2px rgba(0, 255, 1, 0.9), 0.6424945533em 0.5950237795em 2px rgba(0, 255, 106, 0.9), 1.2281846979em 1.8387565144em 2px rgba(0, 13, 255, 0.9), 1.9894753929em 0.6902928708em 2px rgba(255, 141, 0, 0.9), 1.645920583em 1.5377114006em 2px rgba(0, 218, 255, 0.9), -0.3282670452em 1.0491545377em 2px rgba(255, 207, 0, 0.9), -0.4568162043em 0.5912544079em 2px rgba(255, 35, 0, 0.9), 2.2209611027em 1.6121671263em 2px rgba(255, 149, 0, 0.9), 2.0731037138em 1.9560930994em 2px rgba(233, 255, 0, 0.9), 0.9222865792em 0.4257054691em 2px rgba(1, 255, 0, 0.9), 2.2424564164em 0.8516973729em 2px rgba(0, 255, 10, 0.9), 1.4176533903em 1.6537044979em 2px rgba(255, 160, 0, 0.9), 0.9292754526em -0.4481034028em 2px rgba(0, 255, 62, 0.9), -0.3204324256em 0.7734714397em 2px rgba(249, 255, 0, 0.9), 0.9069138456em 1.5219428527em 2px rgba(255, 0, 208, 0.9), 0.4803964376em 0.056504595em 2px rgba(255, 0, 43, 0.9), 1.7253681715em 1.7791554434em 2px rgba(57, 0, 255, 0.9), 1.8192706234em 1.6084693998em 2px rgba(255, 0, 104, 0.9), 1.846246451em -0.3593327403em 2px rgba(13, 255, 0, 0.9), 1.1724502391em 1.8601240212em 2px rgba(255, 0, 15, 0.9), 0.4327065286em 0.9653525873em 2px rgba(40, 0, 255, 0.9);
  animation-duration: 42s;
  animation-delay: -23s;
}

head::after {
  text-shadow: 2.2123892312em 0.626606349em 2px rgba(0, 237, 255, 0.9), 0.785832963em 1.0323672632em 2px rgba(0, 255, 28, 0.9), 0.5970433429em 0.8033359322em 2px rgba(255, 0, 127, 0.9), 2.0045556953em 1.7767872515em 2px rgba(255, 76, 0, 0.9), 1.4411938498em 1.1145940286em 2px rgba(255, 48, 0, 0.9), 0.0963064551em 0.149065275em 2px rgba(255, 0, 62, 0.9), 2.0425932773em 0.2127305515em 2px rgba(255, 117, 0, 0.9), 0.6937619297em 1.7414733595em 2px rgba(0, 255, 92, 0.9), 2.35536569em 0.0797618564em 2px rgba(255, 0, 228, 0.9), -0.3667067684em -0.4749178356em 2px rgba(0, 255, 55, 0.9), 0.0795336102em 2.0750188968em 2px rgba(43, 255, 0, 0.9), 1.9790260578em 0.7756331956em 2px rgba(183, 255, 0, 0.9), 1.5744504641em 0.8952296759em 2px rgba(167, 0, 255, 0.9), 0.1611901062em 2.4418253979em 2px rgba(178, 0, 255, 0.9), 0.4478634794em 1.1061722285em 2px rgba(143, 0, 255, 0.9), 1.6404117305em 2.4930414717em 2px rgba(0, 231, 255, 0.9), 1.7305835822em 1.6303783177em 2px rgba(255, 170, 0, 0.9), 1.1976656524em 1.499774986em 2px rgba(0, 255, 80, 0.9), -0.3440754042em 0.9887655017em 2px rgba(0, 255, 64, 0.9), -0.452668629em 0.1285840222em 2px rgba(203, 255, 0, 0.9), 2.1680912598em 1.0171859212em 2px rgba(0, 81, 255, 0.9), 1.5799989734em 2.4147103422em 2px rgba(255, 165, 0, 0.9), 0.8373864533em -0.2724451493em 2px rgba(255, 0, 248, 0.9), 0.9164515993em -0.2983762928em 2px rgba(255, 11, 0, 0.9), 0.4400270892em 0.9509717813em 2px rgba(27, 255, 0, 0.9), 1.8133511195em 0.6140028685em 2px rgba(0, 255, 38, 0.9), 0.6689504638em 1.1775993285em 2px rgba(255, 226, 0, 0.9), -0.0881659251em 2.3603781279em 2px rgba(255, 0, 220, 0.9), 1.9507157781em 0.0382822112em 2px rgba(147, 255, 0, 0.9), 0.2707124881em -0.2094554673em 2px rgba(114, 0, 255, 0.9), 0.765755458em 0.5581377316em 2px rgba(216, 255, 0, 0.9), 1.3401509388em 0.2897885807em 2px rgba(0, 218, 255, 0.9), 0.4640433519em -0.3704042895em 2px rgba(0, 255, 7, 0.9), 1.6876389633em 0.949302885em 2px rgba(214, 255, 0, 0.9), -0.4064530249em 1.2111025963em 2px rgba(255, 0, 28, 0.9), 1.0003686826em -0.4199991856em 2px rgba(255, 19, 0, 0.9), 1.0311456424em 0.7863166058em 2px rgba(0, 94, 255, 0.9), 1.0521966637em 1.7708682557em 2px rgba(255, 91, 0, 0.9), -0.2446473158em 0.5507554754em 2px rgba(255, 208, 0, 0.9), 2.120045654em 1.6435260639em 2px rgba(255, 38, 0, 0.9), -0.2485662766em 2.290003415em 2px rgba(0, 59, 255, 0.9);
  animation-duration: 41s;
  animation-delay: -19s;
}

@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    transform: rotate(360deg) scale(18) translateX(20px);
  }
}





/*canvas {
  display:auto;
  width: auto;
  height: auto;
}


/*text {
    opacity: .4;
    z-index: 100;
    position: absolute;
    color:aqua;
    font-size: 50px;
    font-weight: bold;
    left: 150px;
    top: 350px;

}
   body {
    margin: 0;
    background: #000000;
    height: 200vh;
    width: 100vw;
    position: relative;
    overflow: auto;
  }


  .overlay {
   
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 2;
    background: radial-gradient(circle, transparent 0%, rgba(251, 255, 5, 0.85) 100%);
  }
  
  .container {
    display: grid;
    grid-template-columns: repeat(10, 200px);
    grid-template-rows: repeat(6, 230px);
    transform: translate(-3%, -4%);
  }
  
  .shape {
    width: 200px;
    height: 230px;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  }
  .shape:nth-child(11) {
    transform: translate(-50%, -25%);
  }
  .shape:nth-child(12) {
    transform: translate(-50%, -25%);
  }
  .shape:nth-child(13) {
    transform: translate(-50%, -25%);
  }
  .shape:nth-child(14) {
    transform: translate(-50%, -25%);
  }
  .shape:nth-child(15) {
    transform: translate(-50%, -25%);
  }
  .shape:nth-child(16) {
    transform: translate(-50%, -25%);
  }
  .shape:nth-child(17) {
    transform: translate(-50%, -25%);
  }
  .shape:nth-child(18) {
    transform: translate(-50%, -25%);
  }
  .shape:nth-child(19) {
    transform: translate(-50%, -25%);
  }
  .shape:nth-child(20) {
    transform: translate(-50%, -25%);
  }
  .shape:nth-child(21) {
    transform: translate(-50%, -25%);
  }
  .shape:nth-child(21) {
    transform: translate(0%, -50%);
  }
  .shape:nth-child(22) {
    transform: translate(-50%, -25%);
  }
  .shape:nth-child(22) {
    transform: translate(0%, -50%);
  }
  .shape:nth-child(23) {
    transform: translate(-50%, -25%);
  }
  .shape:nth-child(23) {
    transform: translate(0%, -50%);
  }
  .shape:nth-child(24) {
    transform: translate(-50%, -25%);
  }
  .shape:nth-child(24) {
    transform: translate(0%, -50%);
  }
  .shape:nth-child(25) {
    transform: translate(-50%, -25%);
  }
  .shape:nth-child(25) {
    transform: translate(0%, -50%);
  }
  .shape:nth-child(26) {
    transform: translate(-50%, -25%);
  }
  .shape:nth-child(26) {
    transform: translate(0%, -50%);
  }
  .shape:nth-child(27) {
    transform: translate(-50%, -25%);
  }
  .shape:nth-child(27) {
    transform: translate(0%, -50%);
  }
  .shape:nth-child(28) {
    transform: translate(-50%, -25%);
  }
  .shape:nth-child(28) {
    transform: translate(0%, -50%);
  }
  .shape:nth-child(29) {
    transform: translate(-50%, -25%);
  }
  .shape:nth-child(29) {
    transform: translate(0%, -50%);
  }
  .shape:nth-child(30) {
    transform: translate(-50%, -25%);
  }
  .shape:nth-child(30) {
    transform: translate(0%, -50%);
  }
  .shape:nth-child(31) {
    transform: translate(-50%, -25%);
  }
  .shape:nth-child(31) {
    transform: translate(0%, -50%);
  }
  .shape:nth-child(31) {
    transform: translate(-50%, -75%);
  }
  .shape:nth-child(32) {
    transform: translate(-50%, -25%);
  }
  .shape:nth-child(32) {
    transform: translate(0%, -50%);
  }
  .shape:nth-child(32) {
    transform: translate(-50%, -75%);
  }
  .shape:nth-child(33) {
    transform: translate(-50%, -25%);
  }
  .shape:nth-child(33) {
    transform: translate(0%, -50%);
  }
  .shape:nth-child(33) {
    transform: translate(-50%, -75%);
  }
  .shape:nth-child(34) {
    transform: translate(-50%, -25%);
  }
  .shape:nth-child(34) {
    transform: translate(0%, -50%);
  }
  .shape:nth-child(34) {
    transform: translate(-50%, -75%);
  }
  .shape:nth-child(35) {
    transform: translate(-50%, -25%);
  }
  .shape:nth-child(35) {
    transform: translate(0%, -50%);
  }
  .shape:nth-child(35) {
    transform: translate(-50%, -75%);
  }
  .shape:nth-child(36) {
    transform: translate(-50%, -25%);
  }
  .shape:nth-child(36) {
    transform: translate(0%, -50%);
  }
  .shape:nth-child(36) {
    transform: translate(-50%, -75%);
  }
  .shape:nth-child(37) {
    transform: translate(-50%, -25%);
  }
  .shape:nth-child(37) {
    transform: translate(0%, -50%);
  }
  .shape:nth-child(37) {
    transform: translate(-50%, -75%);
  }
  .shape:nth-child(38) {
    transform: translate(-50%, -25%);
  }
  .shape:nth-child(38) {
    transform: translate(0%, -50%);
  }
  .shape:nth-child(38) {
    transform: translate(-50%, -75%);
  }
  .shape:nth-child(39) {
    transform: translate(-50%, -25%);
  }
  .shape:nth-child(39) {
    transform: translate(0%, -50%);
  }
  .shape:nth-child(39) {
    transform: translate(-50%, -75%);
  }
  .shape:nth-child(40) {
    transform: translate(-50%, -25%);
  }
  .shape:nth-child(40) {
    transform: translate(0%, -50%);
  }
  .shape:nth-child(40) {
    transform: translate(-50%, -75%);
  }
  .shape:nth-child(41) {
    transform: translate(-50%, -25%);
  }
  .shape:nth-child(41) {
    transform: translate(0%, -50%);
  }
  .shape:nth-child(41) {
    transform: translate(-50%, -75%);
  }
  .shape:nth-child(41) {
    transform: translate(0%, -100%);
  }
  .shape:nth-child(42) {
    transform: translate(-50%, -25%);
  }
  .shape:nth-child(42) {
    transform: translate(0%, -50%);
  }
  .shape:nth-child(42) {
    transform: translate(-50%, -75%);
  }
  .shape:nth-child(42) {
    transform: translate(0%, -100%);
  }
  .shape:nth-child(43) {
    transform: translate(-50%, -25%);
  }
  .shape:nth-child(43) {
    transform: translate(0%, -50%);
  }
  .shape:nth-child(43) {
    transform: translate(-50%, -75%);
  }
  .shape:nth-child(43) {
    transform: translate(0%, -100%);
  }
  .shape:nth-child(44) {
    transform: translate(-50%, -25%);
  }
  .shape:nth-child(44) {
    transform: translate(0%, -50%);
  }
  .shape:nth-child(44) {
    transform: translate(-50%, -75%);
  }
  .shape:nth-child(44) {
    transform: translate(0%, -100%);
  }
  .shape:nth-child(45) {
    transform: translate(-50%, -25%);
  }
  .shape:nth-child(45) {
    transform: translate(0%, -50%);
  }
  .shape:nth-child(45) {
    transform: translate(-50%, -75%);
  }
  .shape:nth-child(45) {
    transform: translate(0%, -100%);
  }
  .shape:nth-child(46) {
    transform: translate(-50%, -25%);
  }
  .shape:nth-child(46) {
    transform: translate(0%, -50%);
  }
  .shape:nth-child(46) {
    transform: translate(-50%, -75%);
  }
  .shape:nth-child(46) {
    transform: translate(0%, -100%);
  }
  .shape:nth-child(47) {
    transform: translate(-50%, -25%);
  }
  .shape:nth-child(47) {
    transform: translate(0%, -50%);
  }
  .shape:nth-child(47) {
    transform: translate(-50%, -75%);
  }
  .shape:nth-child(47) {
    transform: translate(0%, -100%);
  }
  .shape:nth-child(48) {
    transform: translate(-50%, -25%);
  }
  .shape:nth-child(48) {
    transform: translate(0%, -50%);
  }
  .shape:nth-child(48) {
    transform: translate(-50%, -75%);
  }
  .shape:nth-child(48) {
    transform: translate(0%, -100%);
  }
  .shape:nth-child(49) {
    transform: translate(-50%, -25%);
  }
  .shape:nth-child(49) {
    transform: translate(0%, -50%);
  }
  .shape:nth-child(49) {
    transform: translate(-50%, -75%);
  }
  .shape:nth-child(49) {
    transform: translate(0%, -100%);
  }
  .shape:nth-child(50) {
    transform: translate(-50%, -25%);
  }
  .shape:nth-child(50) {
    transform: translate(0%, -50%);
  }
  .shape:nth-child(50) {
    transform: translate(-50%, -75%);
  }
  .shape:nth-child(50) {
    transform: translate(0%, -100%);
  }
  .shape:nth-child(51) {
    transform: translate(-50%, -25%);
  }
  .shape:nth-child(51) {
    transform: translate(0%, -50%);
  }
  .shape:nth-child(51) {
    transform: translate(-50%, -75%);
  }
  .shape:nth-child(51) {
    transform: translate(0%, -100%);
  }
  .shape:nth-child(51) {
    transform: translate(-50%, -125%);
  }
  .shape:nth-child(52) {
    transform: translate(-50%, -25%);
  }
  .shape:nth-child(52) {
    transform: translate(0%, -50%);
  }
  .shape:nth-child(52) {
    transform: translate(-50%, -75%);
  }
  .shape:nth-child(52) {
    transform: translate(0%, -100%);
  }
  .shape:nth-child(52) {
    transform: translate(-50%, -125%);
  }
  .shape:nth-child(53) {
    transform: translate(-50%, -25%);
  }
  .shape:nth-child(53) {
    transform: translate(0%, -50%);
  }
  .shape:nth-child(53) {
    transform: translate(-50%, -75%);
  }
  .shape:nth-child(53) {
    transform: translate(0%, -100%);
  }
  .shape:nth-child(53) {
    transform: translate(-50%, -125%);
  }
  .shape:nth-child(54) {
    transform: translate(-50%, -25%);
  }
  .shape:nth-child(54) {
    transform: translate(0%, -50%);
  }
  .shape:nth-child(54) {
    transform: translate(-50%, -75%);
  }
  .shape:nth-child(54) {
    transform: translate(0%, -100%);
  }
  .shape:nth-child(54) {
    transform: translate(-50%, -125%);
  }
  .shape:nth-child(55) {
    transform: translate(-50%, -25%);
  }
  .shape:nth-child(55) {
    transform: translate(0%, -50%);
  }
  .shape:nth-child(55) {
    transform: translate(-50%, -75%);
  }
  .shape:nth-child(55) {
    transform: translate(0%, -100%);
  }
  .shape:nth-child(55) {
    transform: translate(-50%, -125%);
  }
  .shape:nth-child(56) {
    transform: translate(-50%, -25%);
  }
  .shape:nth-child(56) {
    transform: translate(0%, -50%);
  }
  .shape:nth-child(56) {
    transform: translate(-50%, -75%);
  }
  .shape:nth-child(56) {
    transform: translate(0%, -100%);
  }
  .shape:nth-child(56) {
    transform: translate(-50%, -125%);
  }
  .shape:nth-child(57) {
    transform: translate(-50%, -25%);
  }
  .shape:nth-child(57) {
    transform: translate(0%, -50%);
  }
  .shape:nth-child(57) {
    transform: translate(-50%, -75%);
  }
  .shape:nth-child(57) {
    transform: translate(0%, -100%);
  }
  .shape:nth-child(57) {
    transform: translate(-50%, -125%);
  }
  .shape:nth-child(58) {
    transform: translate(-50%, -25%);
  }
  .shape:nth-child(58) {
    transform: translate(0%, -50%);
  }
  .shape:nth-child(58) {
    transform: translate(-50%, -75%);
  }
  .shape:nth-child(58) {
    transform: translate(0%, -100%);
  }
  .shape:nth-child(58) {
    transform: translate(-50%, -125%);
  }
  .shape:nth-child(59) {
    transform: translate(-50%, -25%);
  }
  .shape:nth-child(59) {
    transform: translate(0%, -50%);
  }
  .shape:nth-child(59) {
    transform: translate(-50%, -75%);
  }
  .shape:nth-child(59) {
    transform: translate(0%, -100%);
  }
  .shape:nth-child(59) {
    transform: translate(-50%, -125%);
  }
  .shape:nth-child(60) {
    transform: translate(-50%, -25%);
  }
  .shape:nth-child(60) {
    transform: translate(0%, -50%);
  }
  .shape:nth-child(60) {
    transform: translate(-50%, -75%);
  }
  .shape:nth-child(60) {
    transform: translate(0%, -100%);
  }
  .shape:nth-child(60) {
    transform: translate(-50%, -125%);
  } 

 
  